@charset "UTF-8";

/*
Paleta de cores:

#593954 - roxo
#013440 - Azul 1
#026873 - Azul 2
#038C8C - Azul 3
#038C7F - Azul 4
*/

:root{
    --roxo: #593954;
    --azul1: #013440;
    --azul2: #026873;
    --azul3: #038C8C;
    --azul4: #038C7F;
}

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: #593954;
}
main{
    
    background: white;
    width: 60vw;
    height: 80vh;
    margin: auto;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/foto-padrao.jpg);
    background-size: cover;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.403);
}

#formulario{
    background: white;
    height: 55vh;
    margin-top: 175px;
    border-radius: 0px 0px 30px 30px;

    
}

#formulario > h1{
    text-align: center;
    padding: 10px;
}
#formulario > p{
    text-align: left;
}

#entrar{
  background: #026873;
  color: white;
  width: 55vw;
  display: block;
  margin: auto;
  padding: 8px;
  border-radius: 6px;  
  cursor: pointer;
  margin-top: 10px;
  border: 1px solid #038C8C;
  box-shadow: 1px 1px 7px #038c8c5c;
}

#entrar:hover{
    background: #038C7F;
}

#esqueci{
  background: white;
  color: #038C8C;
  width: 55vw;
  display: block;
  margin: auto;
  padding: 8px;
  border-radius: 6px;  
  cursor: pointer;
  border: 1px solid #038C8C;
  box-shadow: 1px 1px 7px #038c8c5c;
  margin-top: -10px;
}

#esqueci:hover{
    background: #038C7F;
    color: white;
    
}

form > div > input{

    border-radius: 5px;
}

.input-group{
    background: #593954;
}

.input-email{
    margin-top: 15px;
    background: #593954;
    width: 60vw;
    height: 50px;
    margin: auto;
    border-radius: 5px;
    position: relative;
}

.input-email > input{
    padding: 10px;
    background:#aeffff;
    position: absolute;
    left: 57%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 25px;

}
#person{
    color: white;
    position: absolute;
    left: 8%;
    top: 25%;
    transform: translate( -50%);
}

.input-senha{
   
        margin-top: 15px;
        background: #593954;
        width: 60vw;
        height: 50px;
        margin: auto;
        border-radius: 5px;
        position: relative;
    }
    
.input-senha > input{
    padding: 10px;
    background:#aeffff;
    position: absolute;
    left: 57%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 25px;
}
#key{
    color: white;
    position: absolute;
    left: 8%;
    top: 25%;
    transform: translate( -50%);
}

.text{
    margin-bottom: 13px;

}
.text > h1{
    text-align: center;
}

